<ion-header class="ion-no-border" [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-searchbar
      class="ion-margin-top"
      color="light"
      placeholder="Find an idea"
      mode="ios"
    >
    </ion-searchbar>
    <ion-button color="light" slot="end">
      <ion-icon name="filter-sharp" class="ion-padding"></ion-icon>
    </ion-button>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ng-container *ngIf="ideas$ | async as ideas">
    <ion-card
      [routerLink]="['/idea', idea.id ]"
      routerLinkActive="router-link-active"
      class="idea-card ion-activatable"
      *ngFor="let idea of ideas"
      [style.background]="'url('+ idea.cover +')'"
      [style.background-size]="'cover'"
    >
      <!-- <ng-container *ngIf="idea.tags?.length">
        <div class="tags">
          <ion-badge *ngFor="let tag of idea.tags" [color]="ideaTags[tag].color">
            {{ideaTags[tag].content}}
          </ion-badge>
        </div>
      </ng-container> -->
      <div class="options">
        <ion-button size="large" class="option-button" shape="round">
          <ion-icon color="light" name="ellipsis-vertical-sharp"></ion-icon>
        </ion-button>
      </div>
      <div class="summary">
        <ion-text color="light">
          <h2 class="title">{{idea.title}}</h2>
        </ion-text>
        <ion-ripple-effect type="bounded"></ion-ripple-effect>
      </div>
    </ion-card>
  </ng-container>

  <ng-container *ngIf="user$ | async as user; else NoUserLogin">
    <ion-fab
      class="create-idea-button"
      vertical="bottom"
      horizontal="end"
      slot="fixed"
    >
      <ion-fab-button color="success" (click)="goToCreateIdea()">
        <ion-icon name="add"></ion-icon>
      </ion-fab-button>
    </ion-fab>
  </ng-container>

  <ng-template #NoUserLogin>
    <ion-fab
      class="create-idea-button"
      vertical="bottom"
      horizontal="end"
      slot="fixed"
    >
      <ion-fab-button color="success" (click)="goToLogin()">
        <ion-icon name="add"></ion-icon>
      </ion-fab-button>
    </ion-fab>
  </ng-template>
</ion-content>
