<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Ideas</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="container">
    <ion-card class="idea-card">
      <ion-text color="light">
        <h2 class="title">Crear aplicación de ideas!</h2>
      </ion-text>
    </ion-card>
  </div>

  <!-- FAB Go To Create Idea -->
  <ion-fab
    class="create-idea-button"
    vertical="bottom"
    horizontal="end"
    slot="fixed"
  >
    <ion-fab-button color="light" (click)="goToCreateIdea()">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
