<ion-header class="ion-no-border" [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-text>
      <h2>Giving an idea</h2>
    </ion-text>
    <ion-button
      color="light"
      slot="end"
      shape="round"
      (click)="form.valid && onSubmit()"
      [disabled]="!form.valid"
    >
      <ion-icon slot="start" name="add-sharp"></ion-icon>
      Create
    </ion-button>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <form [formGroup]="form" class="form">
    <ion-input formControlName="title" placeholder="Title"></ion-input>
    <label>
      <ion-textarea
        autoGrow="true"
        formControlName="description"
        placeholder="Write something awesome..."
      ></ion-textarea>
    </label>
  </form>
</ion-content>
