<ion-header class="ion-no-border" [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-text>
      <h2>Giving an idea</h2>
    </ion-text>
    <ion-button color="light" slot="end" shape="round" (click)="form.valid && onSubmit()"
      [disabled]="!form.valid || loading">
      <ng-container *ngIf="!loading; else ShowLoading">
        <ion-icon slot="start" name="add-sharp"></ion-icon>
        Create
      </ng-container>
      <ng-template #ShowLoading>
        <ion-icon name="refresh-sharp"></ion-icon>
        Loading...
      </ng-template>
    </ion-button>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <form [formGroup]="form" class="form">
    <label class="title">
      <ion-item>
        <ion-label slot="end" color="dark" [style.color]="titleLength > 25 ? 'red' : 'rgb(165, 164, 164)'">{{
          titleLength }} / 25
        </ion-label>
        <ion-input formControlName="title" placeholder="Title"></ion-input>
      </ion-item>
    </label>
    <label class="description">
      <span class="description-length" [style.color]="descriptionLength > 999 ? 'red' : 'rgb(165, 164, 164)'">
        {{ descriptionLength }} / 999
      </span>
      <ion-textarea autoGrow="true" formControlName="description" placeholder="Write something awesome...">
      </ion-textarea>
    </label>
  </form>
</ion-content>